body {
  background-color:firebrick;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
  margin: 0% 5%;
}
a:link:hover {
  background-color: white;
  color: firebrick;
  text-decoration: underline;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:visited:hover {
  background-color: white;
  color: firebrick;
  text-decoration: underline;
}
p {
  text-align: center;
}