body {
  background-color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  border-radius: 50%;
  background-color: white;
  color: cornflowerblue;
  text-align: center;
}
img {
  float: right;
}
.subtitulo {
  font-weight: bolder;
  text-decoration: underline;
}
fieldset {
  background-color: white;
}
legend {
  background-color: cornflowerblue;
  color: white;
}